@model MyBlog.ViewModels.UsersDetailsModel

@{
    ViewBag.Title = "Details";
}

<h2>My Profile</h2>

@if (ViewBag.ErrorMessage != null)
{
    <div class="alert alert-danger" role="alert">
        @ViewBag.ErrorMessage
       
    </div>
}


@if (ViewBag.SuccessMessage != null)

{
    <div class="alert alert-success" role="alert">
        @ViewBag.SuccessMessage
       
    </div>
}

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Username)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Username)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
    </dl>
    <a class="btn btn-warning" href="/Users/UpdateUser/@Model.Id">Edit</a>
</div>

